.container
	- pictures = ["paper", "rock", "scissors"]

	- if @result == "draw"
		%h1 Draw!
	- elsif @result == "won"
		%h2 You Won!
	- else
		%h2 You Lost!
	
	.games
		.game
			%h2 Computer guess
			= image_tag "rock_paper_scissors/#{pictures[@computer_guess-1]}.jpeg"
		.game
			%h2 Your guess
			= image_tag "rock_paper_scissors/#{pictures[@our_guess-1]}.jpeg"

	= link_to "PLAY AGAIN", new_paper_rock_scissor_path


